<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.funnyboy.eduservice.mapper.EduCourseMapper">
    <select id="selectCoursePublishVOById" resultType="xyz.funnyboy.commonutils.vo.CoursePublishVO">
        select c.title,
               c.cover,
               c.lesson_num                     as lessonNum,
               s1.title                         as subjectLevelOne,
               s2.title                         as subjectLevelTwo,
               t.name                           as teacherName,
               CONVERT(c.price, decimal (8, 2)) as price
        from edu_course c
                 left join edu_teacher t on c.teacher_id = t.id
                 left join edu_subject s1 on c.subject_id = s1.id
                 left join edu_subject s2 on c.subject_parent_id = s2.id
        where c.id = #{courseId}
    </select>
    <select id="selectInfoWebById" resultType="xyz.funnyboy.eduservice.entity.vo.CourseWebVO">
        select
            -- 课程基本信息
            c.id,
            c.title,
            CONVERT(c.price, DECIMAL (8.2)) as price,
            c.lesson_num,
            c.cover,
            c.buy_count,
            c.view_count,
            -- 课程简介
            d.description,
            -- 讲师信息
            t.id                            as teacherId,
            t.name                          as teacherName,
            t.intro,
            t.avatar,
            -- 课程分类信息
            s1.id                           as subjectLevelOneId,
            s1.title                        as subjectLevelOne,
            s2.id                           as subjectLevelTwoId,
            s2.title                        as subjectLevelTwo
        from edu_course c
                 left join edu_course_description d on c.id = d.id
                 left join edu_teacher t
                           on c.teacher_id = t.id
                 left join edu_subject s1 on c.subject_parent_id = s1.id
                 left join edu_subject s2 on c.subject_id = s2.id
        where c.id = #{courseId}
    </select>
</mapper>
